aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-apispec==2.2.3
aiosignal==1.4.0
apispec==3.3.2
attrs==26.1.0
-e git+ssh://git@github.com/Adadapa/blockchain-engineering-project.git@038778b88fcbe884c690d103da7566662895abf4#egg=blockchain_engineering_project
cffi==2.0.0
cryptography==43.0.3
frozenlist==1.8.0
idna==3.15
iniconfig==2.3.0
Jinja2==3.1.6
libnacl==2.1.0
MarkupSafe==3.0.3
marshmallow==4.3.0
multidict==6.7.1
packaging==26.2
pluggy==1.6.0
propcache==0.5.2
pyasn1==0.6.3
pycparser==3.0
Pygments==2.20.0
pyipv8==2.14.0
pyOpenSSL==26.2.0
pytest==9.0.3
typing_extensions==4.15.0
webargs==5.5.3
yarl==1.23.0
